*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #141414;
    color:#fff;
}

.navbar{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 60px;
      display:flex;
      align-items:center ;
    justify-content: space-between;
    background: linear-gradient(to bottom,
    rgba(0,0,0,7)0%,
    rgba(0,0,0,0)100%
    );
    z-index: 100;
    transition: background-color 0.3s;
    margin-bottom:50px;
    
}



.navbar{
     background-color:black;

}

.logo{
    height:25px;
    cursor:pointer;


}

.navbar-nav{
    display:flex;
    gap:20px;


}
.nav-link{
    color:#e5e5e5;
    text-decoration: none;
    font-size:14px;
    transition:color 0.3s;

}
.nav-link:hover{
    color:#b3b3b3;



}

.navbar-right{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;

}

.navbar-right{
    font-size:20px;
    cursor:pointer;
   /* display:flex;*/
   /* gap:20px;*/

}

.profile-icon{
    width:32px;
    height:32px;
    gap:20px;
    border-radius:5px;
    cursor:pointer;
}


/*hero-section*/
.hero{
    margin-top:100px;
    position:relative;
    z-index: 1;
    height:80vh;
    background:linear-gradient(to bottom,
    rgba(0,0,0, 0.4)0%,
    rgba(0,0,0,0.8)100%
    ),
    url(Stranger.jpeg)center/cover;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 60px;
    margin-bottom:20px;
    
}

.hero-content{
    max-width:600px;
}

.hero-title{
    font-size:48px;
    margin-bottom:16px;


}
.hero-description{
    font-size:18px;
    margin-bottom:24px;
    color:#e5e5e5;

}
.hero-button{
    display:flex;
    gap:16px;

}
.btn{
    padding:10px 10px;
    background-color: #fff;
    color:#000;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:8px;
    transition: all 0.3;

}
.btn-play{
    background-color: #fff;
    color:#000;
}
.btn-play:hover{
    background-color: rgba(255,255,255,0.75);


}


.btn-more-info{
    background-color: rgba(255,255,255,0.75);
    color:white;
}
.btn-more-info:hover{
    background-color:rgba(109,109,110,0.4);

}


/*Movie Section*/
.container{
    position: relative;
    display:inline-block;
    max-width:100%;
    padding:0 4%;
}

/*.section*/
.content-section{
    margin-bottom:50px;

}
.section-title{
    font-size:1.8rem;
    font-weight:700 ;
    margin-bottom:20px;
    color:white;
    letter-spacing:0.5px;
}

/*content-row*/
.content-card{
    
    display:flex;
    gap:15px;
    overflow-x:auto;

}

.content-row{
    display:flex;
    gap:15px;
    overflow-x:auto;
}
.content-row::-webkit-scrollbar{
    height:8px;

}

.content-row::-webkit-scrollbar-track{
    background:transparent;

}
.content-row::-webkit-scrollbar-thumb{
    color:#333;
    border-radius:5px;

}
/* content-cards*/
.content-card{
    position:relative;
    min-width:250px;
    height:300px;
    border-radius:8px;
    overflow:hidden;
    cursor:pointer;
    transition:all 0.3s ease;
    flex-shrink:0;
    box-shadow:0 4px 15px rgba(0,0,0,0.3);
    transition:transform 0.3s  ease-in-out;
    

}
.content-card:hover{
    transform:scale(1,1);
    z-index:10;
     box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

.content-card img{
    display: block;
    width:100%;
    height:100%;
    object-fit:cover;
    transition:brightness 0.3s ease;

}

.content-card:hover img{
    filter: brightness(.4);
}

/*NETFLIX -badge*/

.Netflix-badge{
    position:relative;
    top:8px;
    left:20px;
    background-color:#e50914;
    color:white;
    width:20px;
    height:20px;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight:bold;
    font-size:14px;
    z-index:2;
}

/*Card-overlay*/
.card-overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.1) 0%,
        rgba(0,0,0,0.3)300%,
        rgba(0,0,0,0.9)100%,

    );
    opacity:0;
    transition:opacity 0.3s ease;
    flex-direction:column;
    justify-content:space-between ;
    padding:15px;
    color:white;
}

.content-card:hover .card-overlay{
    opacity:1;
    
}

.overlay-top {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

.overlay-bottom{
    display:flex;
    flex-direction:column;
    gap:10px;
}


.overlay-title{
    font-size:10px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-bottom:10px;

}
.overlay-control{
    display:flex;
    gap:8px;
    margin-bottom:10px;
}



.control-btn{
    width:35px;
    height:35px;
    border-radius:2px solid white;
    background:rgba(255,255,255,0.1) ;
    backdrop-filter: blur(10px);
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
    transition:all 0.3s ease;
    color:white;
    font-size:14px;



}
.control-btn:hover{
    background:rgba(255,255,255,0.3);
    transform:scale(1.1);

}
.play-btn{
    background:white;
    color:black;

}
.play-btn:hover{
    background:rgba(255,255,255,0.9);
    transform:scale(1.1);

}
.play-btn .check-btn  .thumb-btn .more-btn  {
    background:white;
    color:black;
}
.play-btn:hover{
    background:rgba(255,255,255,0.9);
}

.overlay-info{
    position: absolute;
    bottom:10px;
    display:flex;
    gap:10px;
    align-items:center;
    justify-content:center;
    margin-bottom:8px;
    flex-wrap:wrap;
    margin-bottom:10px;
     left:0;
     z-index:5;
     

    



}

.info-badge{
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px) ;
    padding:3px 6px;
    border-radius:3px ;
    font-size:10px;
    font-weight:bold;
    color:white;
    display:inline-block;
    


}

/*button icons*/

.play-btn::before {
  content: "▶"; /* Play symbol */
}
.check-btn::before {
  content: "✔"; /* Check mark */
}
.thumbs-btn::before {
  content: "👍"; /* Thumbs up emoji */
}
.more-btn::before {
  content: "➤"; /* Example for "more" */
}

.content-card::before{
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    background:linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        rgba(0,0,0,0.8)100%,
    
    );
    z-index:1;
}

@media(max-width:12px){
    .container{
        padding:0 3%;
    }
    .container-card{
        min-width:220px;
        height:125px;

    }
    .section-title{
        font-size:1.6rem;

    }
}
@media(max-width:760px){
    .container{
        padding:0 2%;


    }
    .content-card{
        min-width:180px;
        height:100px;
    }
}




















